@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','sans-serif', 'Monospace';
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  
    background: linear-gradient(to right, #eef2f3, #8e9eab); 
    
 

}

h1{
    text-align: center;
    font-family: 'Rampart One', cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.card{
    border: none;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 1px 20px 6px black;
    width: 25%;
    height: 75vh;
    text-align: center;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2); 
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
}

label{
    font-size: 1rem;
    font-weight: bold;
}

input{
    padding: 8px;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 5%;
    border: none;
    font-weight: bold;
}

input:hover{
    border: 2px solid darkblue;
}
input:focus {
    border: 2px solid #555;
  }

#submit, .btn{
    width: 85%;
    height: 6vh;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    margin: auto;
    margin-top: 5%;
}

#submit:hover{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    color: black;
    box-shadow: 0px 1px 25px 5px black;
}

p{
    margin-top: 4%;
    color: white;
}

a{
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
}

#show{
    margin-right: -5%;
    cursor: pointer;
}
/* ******************************* Responsiveness ***************************** */
/* ********************************** Code Starts ***************************** */


@media only screen and (max-width: 768px) and (orientation: portrait){
    .card{
        width: 80%;
        height: 70vh;
    }

    input{
        padding: 5px;
        margin-left: 1%;
        width: 50%
    }
}
@media only screen and (max-width: 768px) and (orientation: landscape){
    .card{
        width: 70%;
        height: 90vh;
    }

    input{
        padding: 5px;
        margin-left: 1%;
        margin-top: 2%;
        width: 50%
    }

    #submit{
        margin-top: 1%;
        height: 10vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .card{
        width: 90%;
        height: 65vh;
    }

    input{
        padding: 5px;
        margin-left: 1%;
    }

    body{
        font-size: 1.5rem;
    }

    input, label, #submit{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    .card{
        width: 90%;
        height: 150vh;
    }

    input{
        padding: 5px;
        margin-left: 1%;
        margin-top: 5%;
    }

    body{
        font-size: 1.5rem;
    }

    input, label, #submit{
        font-size: 2rem;
    }

    #submit{
        height: 15vh;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1365px){
    .card{
        width: 90%;
        height: 85vh;
    }

    input{
        padding: 5px;
        margin-left: 3%;
        margin-top: 5%;
    }

    body{
        font-size: 2rem;
    }

    input, label, #submit{
        font-size: 2rem;
    }
}
